@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    background-color: #C8ECEC;
    font-family: 'Roboto', sans-serif;
}

.container h3 {
    font-size: 40px;
    text-align: center;
}

.weather-img {
    width:35px;
    height:35px;
}

.form .city-name {
    width: 290px;
    height: 30px;
    padding: 10px;
    margin:10px;
    border-radius: 5px;
    border: none;
    background-color: #DCDCDC;
}

.form .city-name:hover {
    border: 2px solid #0000FF;
}

button {
    cursor: pointer;
    font-size:15px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.visited {
    color: #568EC4;
    font-size: 20px;
    text-align: center;
}

.result {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 600px) {
    .result {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:250px) {
    .result {
        grid-template-columns: repeat(1, 1fr);
    }
}

.information-div {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 8px;
    padding: 2px 24px;
    /* background-color: #A2DFDF; */
    background-color: white;
    color: #000;
}

/* @media (max-width:250px) {
    
} */

.information-div p {
    font-size: 20px;
}

.super {
    vertical-align: super;
    font-size: 18px;
    padding-top: 2px;
}

.information-div .cityName {
    display: inline-block;
}

.information-div .country {
    display: inline-block;
    padding: 4px;
    background-color: #568EC4;
    border-radius: 50%;
}