@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    background-color: #8FD8D8;
    font-family: 'Roboto', sans-serif;
}

.container h3 {
    font-size: 35px;
    text-align: center;
}

.weather-img {
    width:40px;
    height:40px;
}

#form .city-name {
    width: 280px;
    height: 28px;
    padding: 10px;
    margin:10px;
    border-radius: 5px;
    border: none;
}

form .city-name:hover {
    border: 2px solid #0000FF;
}

form .city-name:active {
    border: 2px solid #0000FF;
}

button {
    cursor: pointer;
    font-size:15px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.information-div {
    display: inline-block;
    border: 1px solid #000;
    margin: 5px;
    padding:10px;
}